body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#projects .project {
    margin: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
img {
    height: 50%;
    width: 30%;
    filter: grayscale(100);
}
img:hover{
    filter: grayscale(0);
}
h1{
    text-align: center;
    color: chocolate;
    filter: grayscale(100);
}
h1:hover{
    filter: grayscale(0);
}